<section class="article" id="article">
  <img class="article__img" src="images/article.png" alt="Плюсы и минусы" />
  <div class="article__content">
    <h2 class="article__title">
      Плюсы и минусы <br />
      ипотечного страхования
    </h2>
    <p class="article__text">
      Как сделать свою страховку дешевле и&nbsp;можно&nbsp;ли вообще отказаться
      от&nbsp;каких-то её&nbsp;составляющих.
    </p>
    <a
      href="https://realty.ya.ru/journal/post/kak-otkazatsya-ot-strahovaniya-ipoteki-i-nado-li-eto-voobshche-delat/?utm_source=vsk_landing"
      class="article__button"
      >Читать
      <img class="article__arrow" alt="arrow" src="images/vector/arrow.svg"
    /></a>
  </div>
</section>
