<footer class="footer">
  <div class="footer__container">
    <div class="footer__logos-wrapper">
      <div class="footer__logos logos">
        <a class="logos__link logos__link--vtb" href="#" target="_blank">
          <img src="images/vector/vsk-logo.svg" />
        </a>
        <img class="logos__img" src="images/vector/cross-logo.svg" />
        <a
          class="logos__link logos__link--ya"
          href="https://realty.ya.ru/"
          target="_blank"
        >
          <img src="images/vector/y-logo.svg" />
        </a>
      </div>
      <a
        href="https://yandex.ru/support/realty/troubleshooting/feedback.html#feedback/?utm_source=vsk_landing"
        class="footer__feedback"
      >
        Обратная связь
      </a>
    </div>
    <div class="footer__info">
      <p>
        Cостав страхуемых рисков может различаться в&nbsp;зависимости
        от&nbsp;программы страхования.
      </p>
      <p>
        САО &laquo;ВСК&raquo; Россия, Москва, 121552, ул. Островная, 4. Лицензия
        банка России от&nbsp;11.09.2015: СЛ &#8470;&nbsp;0621, СИ
        &#8470;&nbsp;0621, ОС &#8470;&nbsp;0621, ОС &#8470;&nbsp;0621&ndash;04,
        ОС &#8470;&nbsp;0621&ndash;05, ПС &#8470;&nbsp;0621. Предложения
        о&nbsp;страховании по&nbsp;добровольным видам имущественного страхования
        не&nbsp;являются публичной офертой, решение о&nbsp;заключении договора
        страхования на&nbsp;конкретных условиях принимается только
        по&nbsp;соглашению сторон.
      </p>
    </div>
  </div>
</footer>
