<header class="mobile-menu menu">
  <div class="mobile-menu__head">
    <div class="mobile-menu__logos menu__logos">
      <a class="mobile-menu__logos-vsk" href="#" target="_blank">
        <img src="images/vector/vsk-logo.svg" alt="vsk" />
      </a>
      <img src="images/vector/cross-logo.svg" alt="cross" />
      <a
        class="mobile-menu__logos-insurance"
        href="https://realty.ya.ru"
        target="_blank"
      >
        <img src="images/vector/y-logo.svg" alt="" />
      </a>
    </div>

    <button
      class="hamburger hamburger--collapse mobile-menu__hamburger"
      type="button"
    >
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
  <ul class="mobile-menu__wrapper menu__list">
    <li>
      <a href="/#promo" data-section="promo">Тест на вероятности</a>
    </li>
    <li>
      <a href="/#article" data-section="article">Статья</a>
    </li>
    <li>
      <a href="/#options" data-section="options">О страховании</a>
    </li>
    <li>
      <a href="/#questions" data-section="questions">Частые вопросы</a>
    </li>
  </ul>
</header>
