<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="scss/main.scss" />
  <link
    rel="preload"
    href="fonts/yandex-sans-text-bold.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/yandex-sans-text-bold.woff"
    as="font"
    type="font/woff"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/yandex-sans-text-medium.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/yandex-sans-text-medium.woff"
    as="font"
    type="font/woff"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/yandex-sans-text-regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/yandex-sans-text-regular.woff"
    as="font"
    type="font/woff"
    crossorigin
  />

  <title>Яндекс Недвижимость</title>

  <link
    rel="shortcut icon"
    href="images/favicons/favicon.ico"
    type="image/x-icon"
  />
</head>
