<div class="options__cards-desktop">
  <div class="options__item-desktop">
    <h3>Риски по имуществу</h3>
    <p>Пожар</p>
    <img src="images/vector/icon-1.svg" alt="" />
  </div>
  <div class="options__item-desktop">
    <h3>Риски по имуществу</h3>
    <p>Аварии инженерных систем</p>
    <img src="images/vector/icon-2.svg" alt="" />
  </div>
  <div class="options__item-desktop">
    <h3>Риски по имуществу</h3>
    <p>Потоп — проникновение воды из чужих помещений</p>
    <img src="images/vector/icon-3.svg" alt="" />
  </div>
  <div class="options__item-desktop">
    <h3>Риски по имуществу</h3>
    <p>Противоправные действия третьих лиц</p>
    <img src="images/vector/icon-4.svg" alt="" />
  </div>
  <div class="options__item-desktop">
    <h3>Риски по имуществу</h3>
    <p>
      Падение летательных аппаратов и их обломков, наезд транспортных средств и
      самоходных машин, падение деревьев и иных предметов
    </p>
    <img src="images/vector/icon-5.svg" alt="" />
  </div>
  <div class="options__item-desktop">
    <h3>Риски по имуществу</h3>
    <p>Стихийные бедствия</p>
    <img src="images/vector/icon-6.svg" alt="" />
  </div>
  <div class="options__item-desktop">
    <h3>Риски по жизни и здоровью</h3>
    <p>
      Временная нетрудоспособность, инвалидность или смерть в результате
      несчастного случая
    </p>
    <img src="images/vector/icon-7.svg" alt="" />
  </div>
  <div class="options__item-desktop">
    <h3>Риски по праву собственности</h3>
    <p>Ограничение или утрата права собственности</p>
    <img src="images/vector/icon-8.svg" alt="" />
  </div>
  <div class="options__item-desktop">
    <h3>Риски по имуществу</h3>
    <p>Взрыв</p>
    <img src="images/vector/icon-9.svg" alt="" />
  </div>
</div>
