<div class="options__cards-mobile">
  <div class="options__blocks-mobile">
    <h3>Риски по имуществу</h3>
    <ul class="options__block-mobile">
      <li class="options__item-mobile">
        <img src="images/vector/icon-1.svg" alt="" />
        <p>Пожар</p>
      </li>
      <li class="options__item-mobile">
        <img src="images/vector/icon-2.svg" alt="" />
        <p>Аварии инженерных систем</p>
      </li>
      <li class="options__item-mobile">
        <img src="images/vector/icon-3.svg" alt="" />
        <p>Потоп — проникновение воды из чужих помещений</p>
      </li>
      <li class="options__item-mobile">
        <img src="images/vector/icon-4.svg" alt="" />
        <p>Противоправные действия третьих лиц</p>
      </li>
      <li class="options__item-mobile">
        <img src="images/vector/icon-5.svg" alt="" />
        <p>
          Падение летательных аппаратов и&nbsp;их&nbsp;обломков, наезд
          транспортных средств и&nbsp;самоходных машин, падение деревьев
          и&nbsp;иных предметов;
        </p>
      </li>
      <li class="options__item-mobile">
        <img src="images/vector/icon-9.svg" alt="" />
        <p>Взрыв</p>
      </li>
      <li class="options__item-mobile">
        <img src="images/vector/icon-6.svg" alt="" />
        <p>Стихийные бедствия</p>
      </li>
    </ul>
  </div>
  <div class="options__blocks-mobile">
    <h3>Риски по жизни и здоровью</h3>
    <div class="options__item-mobile">
      <img src="images/vector/icon-7.svg" alt="" />
      <p>
        Временная нетрудоспособность, инвалидность или смерть в&nbsp;результате
        несчастного случая
      </p>
    </div>
  </div>
  <div class="options__blocks-mobile">
    <h3>Риски по праву собственности (титулу)</h3>
    <div class="options__item-mobile">
      <img src="images/vector/icon-8.svg" alt="" />
      <p>Ограничение или утрата права собственности</p>
    </div>
  </div>
</div>
