<section class="promo" id="promo">
  <div class="promo__content">
    <h1 class="promo__title">Зачем страховать ипотеку</h1>
    <p class="promo__text">
      Какова вероятность, что ипотечное страхование действительно пригодится?
      Яндекс Недвижимость и&nbsp;Страховой дом ВСК предлагают сравнить это
      с&nbsp;другими возможными событиями, и&nbsp;разобраться, что на&nbsp;самом
      деле даёт страховка ипотеки.
    </p>
    <a href="#" class="promo__button">Пройти тест</a>
  </div>
</section>
