<section class="promo-mobile">
  <h1 class="promo-mobile__title">Зачем страховать ипотеку</h1>
  <div class="promo-mobile__content">
    <img
      class="promo-mobile__img"
      src="images/bg/bg_promo-mob.jpg"
      alt="promo"
    />
    <p class="promo-mobile__text">
      Какова вероятность, что ипотечное страхование действительно пригодится?
    </p>
    <p class="promo-mobile__text">
      Яндекс Недвижимость и&nbsp;Страховой дом ВСК предлагают сравнить это
      с&nbsp;другими возможными событиями, и&nbsp;разобраться, что на&nbsp;самом
      деле даёт страховка ипотеки.
    </p>
    <a href="#" class="promo-mobile__button">Пройти тест</a>
  </div>
</section>
