<section class="questions" id="questions">
  <h2>Остались вопросы?</h2>
  <ul class="questions__list">
    <li class="questions__item">
      <div class="questions__wrapper">
        <h3 class="questions__title">
          Какие из&nbsp;трёх видов страхования (имущества, жизни
          и&nbsp;здоровья, титула) обязательны при ипотеке?
        </h3>
        <button>
          <img class="questions__img" src="images/vector/show.svg" />
        </button>
      </div>
      <p class="questions__text">
        Обязательно только страхование имущества. Остальные виды страхования
        добровольные. Обычно страхование жизни и&nbsp;здоровья снижает
        процентную ставку по&nbsp;кредиту, а&nbsp;страхование титула может быть
        действительно полезным при покупке квартиры на&nbsp;вторичном рынке.
      </p>
    </li>
    <li class="questions__item">
      <div class="questions__wrapper">
        <h3 class="questions__title">
          Как формируется цена страховки при ипотеке?
        </h3>
        <button>
          <img class="questions__img" src="images/vector/show.svg" />
        </button>
      </div>
      <p class="questions__text">
        При страховании имущества&nbsp;&mdash; основываясь на&nbsp;остатке
        задолженности по&nbsp;ипотечному кредиту. <br />
        При страховании жизни и&nbsp;здоровья&nbsp;&mdash; на&nbsp;основе
        остатка задолженности, возраста и&nbsp;пола.<br />
        При страховании титула&nbsp;&mdash; на&nbsp;основе остатка задолженности
        и&nbsp;количества переходов прав собственности на&nbsp;квартиру.
      </p>
    </li>
    <li class="questions__item">
      <div class="questions__wrapper">
        <h3 class="questions__title">
          Можно&nbsp;ли оформить полис онлайн, без посещения офиса?
        </h3>
        <button>
          <img class="questions__img" src="images/vector/show.svg" />
        </button>
      </div>
      <p class="questions__text">
        Да, застраховать онлайн можно квартиру или апартаменты
        в&nbsp;многоквартирном доме.
      </p>
    </li>
    <li class="questions__item">
      <div class="questions__wrapper">
        <h3 class="questions__title">Какую страховку примет банк?</h3>
        <button>
          <img class="questions__img" src="images/vector/show.svg" />
        </button>
      </div>
      <p class="questions__text">
        Проще всего выбирать страховщика из&nbsp;списка аккредитованных банком.
        Страховой Дом ВСК работает с&nbsp;большинством банков.
      </p>
    </li>
    <li class="questions__item">
      <div class="questions__wrapper">
        <h3 class="questions__title">
          Страховку надо покупать каждый год <br />или один раз на весь срок
          ипотечного кредита?
        </h3>
        <button>
          <img class="questions__img" src="images/vector/show.svg" />
        </button>
      </div>
      <p class="questions__text">
        Зависит от&nbsp;требований банка-кредитора, но, как правило, договор
        заключается однократно, а&nbsp;в&nbsp;дальнейшем ежегодно оплачивается
        страховая премия. Но&nbsp;есть варианты и&nbsp;с&nbsp;единоразовой
        оплатой всего периода.
      </p>
    </li>
    <li class="questions__item">
      <div class="questions__wrapper">
        <h3 class="questions__title">
          Чем обычное страхование имущества отличается от&nbsp;ипотечного?
        </h3>
        <button>
          <img class="questions__img" src="images/vector/show.svg" />
        </button>
      </div>
      <p class="questions__text">
        При страховании ипотеки основным выгодоприобретателем является
        не&nbsp;владелец жилья, а&nbsp;банк. При этом страхуются только
        конструктивные элементы жилья.
      </p>
    </li>
    <li class="questions__item">
      <div class="questions__wrapper">
        <h3 class="questions__title">
          В&nbsp;чём отличие страхования жизни и&nbsp;здоровья при ипотеке от
          <br />обычной страховки от&nbsp;несчастного случая?
        </h3>
        <button>
          <img class="questions__img" src="images/vector/show.svg" />
        </button>
      </div>
      <p class="questions__text">
        При страховании жизни для ипотеки выгодоприобретателем является банк.
        <br />
        При этом страхуются только инвалидность первой и&nbsp;второй групп,
        а&nbsp;также смерть в&nbsp;результате несчастного случая.
      </p>
    </li>
  </ul>
</section>
